.note_show{
	color : #666600;
	text-decoration: underline;
}
.note_hide{
	color: #666600;
	text-decoration: underline;
}
.note_container{
	color: #660066;
	font-style: italic;
	text-decoration: overline;
}